/* @import url("./reset.css"); */

/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Roboto:wght@300;400;500;700&display=swap");
 */

@import url("assets/fonts/Roboto/style.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: rgb(29, 29, 29); /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(29, 29, 29); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid orange; /* creates padding around scroll thumb */
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(29, 29, 29);
  /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdOrZI-pdkHRZ9d-A91LIweTGQlrLRxyYh4Hxmzd9r&s"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* background-position: 50%; */

  /* background-image: linear-gradient(red, yellow); */

  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: "Roboto", sans-serif; */
  font-family: MyFontRoboto;
}

#header {
  padding: 20px;
  height: 70px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(35, 35, 35);
}

.logo_content {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #ffff;

  flex-grow: 7;
}

.logo_content img {
  width: 50px;
  border-radius: 50%;
}

.buttons_group {
  display: flex;
  gap: 20px;
  justify-content: end;

  flex-grow: 3;
}

.buttons_group a {
  padding: 10px;
  background-color: antiquewhite;
  color: rgb(19, 19, 19);
  border-radius: 4px;
  text-decoration: none;
  /* cursor: pointer; */
}

.button-register {
  order: 2;
}

.button-login {
  order: 1;
}

.button-search {
  order: 3;
}

.navbar {
  background-color: #e18f02c3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;

  position: sticky;
  top: 20px;
}

.navbar ul {
  display: flex;
  gap: 20px;
  align-items: center;
  list-style: none;
}

.navbar a {
  font-size: 18px;
  font-weight: bold;
  color: #ffff;
  text-decoration: none;
}

.container {
  padding: 96px;

  display: flex;
  flex-direction: column;
}

#about,
#contact,
#blog {
  padding-top: 24px;
  border-top: 1px solid gray;

  margin-bottom: 100px;
}

.about_info {
  /* display: flex;
  flex-direction: column;
  gap: 20px; */

  text-align: center;
  position: relative;
  color: #ffff;
}

.about_info h2 {
  /* display: none; */
  visibility: hidden;
  font-size: 34px;
  font-weight: 600;
  line-height: 50px;
  font-family: "Open Sans", sans-serif;
}

/* .about_info h2::after {
  content: "pro";
  font-size: 14px;
  position: absolute;
  top: 0;
} */

.about_info h2::before {
  display: block;
  content: " ";
  width: 10px;
  height: 10px;
  background-color: greenyellow;
  border-radius: 5px;
  /* position: absolute;

  top: 0;
  left: 70px; */
}

.about_info p {
  display: none;
}

.about_info:hover p {
  display: block;
}

.about_img {
  display: flex;
  justify-content: center;

  margin-top: 24px;

  animation: myAnimation 3s infinite alternate;
}

.about_img img {
  height: 300px;
  object-fit: cover;
  box-shadow: 0 0 5px 5px rgba(168, 168, 168, 0.397);
}

/* Pseudo -class */
.btn {
  transition: all 0.5s;
}

.buttons_group .btn:hover {
  background-color: orangered;
  color: #ffff;
}

.list-item {
  position: relative;
}

.list-item:hover .info-nav {
  display: block;
}

.info-nav {
  display: none;
  position: absolute;
  top: 25px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.779);
  width: 200px;
  border-radius: 4px;
  padding: 10px;
  z-index: 999;

  color: #ffff;
}

.info-nav ul {
  flex-direction: column;
}

.info-nav li {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(64, 64, 64);
}

/* .list li:first-child {
  background-color: red;
} */

/* .list li:last-child {
 
  background-color: red;
} */

/* .list li:nth-child(even) {

  background-color: red;
} */

/* .list li:nth-child(even) {
  background-color: red;
}

.list li:nth-child(even):hover {
  background-color: yellow;
} */

.list li:not(:last-child) {
  background-color: red;
}

.form-input {
  width: 100%;
  height: 51px;
  border-radius: 4px;
  font-size: 20px;
  border: none;
  outline: none;
  color: green;
}

.form-input::placeholder {
  color: rgba(0, 0, 255, 0.552);
}

.form-input:focus {
  outline: 2px solid orange;
}

.error-message {
  display: none;
  color: white;
  font-size: 34px;
}

.form-input:focus .error-message {
  display: block;
}

.btn-danger {
  padding: 12px;
  color: white;
  background-color: red;
}

.btn-danger:disabled {
  opacity: 0.5;
}

/* animation */
@keyframes myAnimation {
  from {
    transform: scale(0.7);
  }
  to {
    transform: scale(1.2);
  }
}
