.customCard {
  width: calc(100% / 4) !important;
}

.rounded-xl {
  border-radius: 20px;
}

.accordion-flush {
  background-color: red !important;
}

.icon-fb {
  color: blue;
  font-size: 44px;
}

.box {
  height: 300px;
  background-color: red;
}
