:root {
  /* Colors */
  --mainColor: rgb(26, 177, 31);

  --mediumSpacing: 12px;
  --largeSpacing: 16px;

  /* Fonts */
  --title5: 22px;
  --body2:18px

  --cardBoxShadow: 0px 0px 4px 4px rgb(153, 153, 153);
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(61, 61, 61);
  padding: var(--mediumSpacing) var(--largeSpacing);
}

.nav-btn {
  width: 55px;
  display: none;
  height: 55px;
  background-color: var(--mainColor);
  color: white;
  border: none;
  border-radius: 50%;
  font-size: var(--body2);
}

.logo {
  color: #ffff;
  font-weight: bold;
  background-color: var(--mainColor);
  box-shadow: var(--cardBoxShadow);
}

.navbar ul {
  display: flex;
  align-items: center;
  gap: 8px;
}

.navbar ul li {
  list-style: none;
  padding: 5px;
  transition: all 0.2s;
  border-radius: 4px;
}
.navbar ul li:hover {
  /* background-color: orangered; */
  background-color: var(--mainOrangeColor);
}

.navbar ul li:hover a {
  color: white;
}

.navbar ul a {
  text-decoration: none;
  color: var(--mainColor);
}
